<!--

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter" id="MixItUp1BFB1A">

            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/balo-roncato-runaway-trang-111.jpg" style="background-image: url(&quot;../ProductImages/Images/balo-roncato-runaway-trang-111.jpg&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=bacakeroirbl1111%20%20%20%20%20%20%20%20%20">a balo can keo roncato ironik green</a></h6>
                        <h5>2500000,0000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/Alo" ae="" style="background-image: url(&quot;../ProductImages/Images/Alo&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=Alo%20ae%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">Alo ae</a></h6>
                        <h5>1000,0000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/" style="background-image: url(&quot;../ProductImages/Images/&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=Alo%20ae%20123%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">Alo ae 123</a></h6>
                        <h5></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/balo-can-keo-roncato-ironik-green-180.jpg" style="background-image: url(&quot;../ProductImages/Images/balo-can-keo-roncato-ironik-green-180.jpg&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=bacakeroirgr%20%20%20%20%20%20%20%20%20%20%20%20%20">balo can keo roncato ironik green</a></h6>
                        <h5>2500000,0000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/balo-roncato-runaway-trang-111.jpg" style="background-image: url(&quot;../ProductImages/Images/balo-roncato-runaway-trang-111.jpg&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=bacak234566%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo can keo roncato ironik green1</a></h6>
                        <h5>2500000,0000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/balo-roncato-runaway-trang-111.jpg" style="background-image: url(&quot;../ProductImages/Images/balo-roncato-runaway-trang-111.jpg&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=bacakeroirbl%20%20%20%20%20%20%20%20%20%20%20%20%20">balo can keo roncato ironik green2</a></h6>
                        <h5>2500000,0000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/balo-roncato-runaway-03-do-1.jpg" style="background-image: url(&quot;../ProductImages/Images/balo-roncato-runaway-03-do-1.jpg&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=baroru3do%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo roncato runaway 03 do</a></h6>
                        <h5>2500000,0000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../ProductImages/Images/balo-roncato-runaway-hong-138.jpg" style="background-image: url(&quot;../ProductImages/Images/balo-roncato-runaway-hong-138.jpg&quot;);">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/Home/ChiTietSanPham?maSp=baroruho%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo roncato runaway hong</a></h6>
                        <h5>2500000,0000</h5>
                    </div>
                </div>
            </div>
            <div class="product__pagination">
                <div class="pagination-container"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="/?page=2">2</a></li><li><a href="/?page=3">3</a></li><li><a href="/?page=4">4</a></li><li><a href="/?page=5">5</a></li><li><a href="/?page=6">6</a></li><li><a href="/?page=7">7</a></li><li><a href="/?page=8">8</a></li><li><a href="/?page=9">9</a></li><li><a href="/?page=10">10</a></li><li class="PagedList-ellipses"><a class="PagedList-skipToNext" href="/?page=11" rel="next">…</a></li><li class="PagedList-skipToNext"><a href="/?page=2" rel="next">&gt;</a></li><li class="PagedList-skipToLast"><a href="/?page=15">&gt;&gt;</a></li></ul></div>
            </div>

        </div>
    </div>
</section>

-->