@model IEnumerable<Category>

<div class="col-lg-3">
    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh mục sản phẩm</span>
        </div>
        <ul>
            @foreach(var item in Model)
            {
                <li><a asp-controller="Product" asp-action="SanPhamTheoLoai"
                asp-route-maloai="@item.CategoryID">@item.CategoryName</a></li>
            }
        </ul>
    </div>
</div>